<section class="main-header">
  <p class="flash"><%= notice %><%= alert %></p>
  <img src="<%= asset_path "MeetAir_White_Logo.png" %>">
</section>
<section class="about">
  <h1>About MeetAir</h1>
  <p>
     MeetAir is an awesome web application. <br>
     You can find people who want to meet up with others at airports.
  </p>
  <p>
     Let's meet up!<br>
     Inspire your waiting time at airports.
  </p>
</section>
<section class="function container-fluid">
  <div class="row">
  <h1>How it Works</h1>
    <div class="function-images">
      <div class="col-md-3 col-sm-6">
       <div class="function-image">
         <img src="<%= asset_path "key.png" %>">
        <p>Go to Airport</p>
       </div>
      </div>
      <div class="col-md-3 col-sm-6">
       <div class="function-image">
        <img src="<%= asset_path "mails.png" %>">
        <p>Search Someone</p>
       </div>
      </div>
      <div class="col-md-3 col-sm-6">
       <div class="function-image">
        <img src="<%= asset_path "girls.png" %>">
        <p>Send a message</p>
       </div>
      </div>
      <div class="col-md-3 col-sm-6">
       <div class="function-image">
        <img src="<%= asset_path "comment.png" %>">
        <p>Let's meet up</p>
      </div>
    </div>
</section>
