<div class="container">
 <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
  <p><%= notice %></p>
  <h1>Let's meet up!!!</h1>
  <%= link_to "Create Your Post", new_post_path, class: 'btn btn-default'  %>
  <br><br>
  <% @posts.reverse.each do |post| %>
   <p>Airport: <%= post.airport %></p>
   <p>Terminal: <%= post.terminal %></p>
   <p>Location: <%= post.location %></p>
   <p>Purpose: <%= post.purpose %></p>
   <p>With who?: <%= post.company %></p>
   <p>Destination: <%= post.destination %></p>
   <p>Flight Date: <%= post.flightdate %></p>
   <p>Flight Time: <%= post.flighttime %></p>
   <p>Comment: <%= post.latestcomment %></p>
   <%= link_to "Edit Your Post", edit_post_path(post.id), class: 'btn btn-default btn-sm btn-success' %>
   <br><br>
   <%= link_to "Delete Your Post", post_path(post.id), method: :delete, data: { confirm: 'Are You Sure?'},  class: 'btn btn-default btn-sm btn btn-danger'  %>
   <br><br><br>
  <% end %>
 </div>
</div>
