<div class="container">
 <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
  <p><%= notice %></p>
  <h1>Find Your Future Friends!</h1>
  <%= link_to "Create Your Post", new_post_path, class: 'btn btn-default'  %>
  <br><br>
  <% @posts.reverse.each do |post| %>
  <div class="row">
     <%= link_to post_path(post) do %>
     <p><%= post.user.name %></p>
     <%= profile_img(post.user) %>
     <% end %>
     <br><br>
     <p>Airport: <%= post.airport %></p>
     <!--<p>Terminal: <%= post.terminal %></p>-->
    <!-- <p>Location: <%= post.location %></p>-->
     <p>Purpose: <%= post.purpose %></p>
     <!--<p>Company: <%= post.company %></p>-->
     <!--<p>Destination: <%= post.destination %></p>-->
     <p>Flight Date: <%= post.flightdate %></p>
     <!--<p>Flight Time: <%= post.flighttime %></p>-->
     <!--<p>Comment: <%= post.latestcomment %></p>-->
     <%= link_to "Edit", edit_post_path(post.id), class: 'btn btn-default btn-sm btn-success' %>
     <%= link_to "Delete", post_path(post.id), method: :delete, data: { confirm: 'Are You Sure?'},  class: 'btn btn-default btn-sm btn btn-danger'  %>
 </div>
   <br><br><br>
  <% end %>
 </div>
</div>
